<div id='banner'>
  <div class='banner_content'>
    <h1>NotasApp</h1>
    <p>
      NoteBook online 100% en Rails
    </p>
    <button type="button" name="button">
      <%=link_to "Crear Cuenta", new_user_registration_path%>
    </button>
  </div>
</div>
<div id='testimonial'>
  <div class='wrapper'>
    <p class='quote'>"Una Nueva Manera de Compartir notas"</p>
    <p class='name'>- Mario Vizcaino</p>
  </div>
</div>
<div id='callouts'>
  <div class='callout_inner'>
    <div class='wrapper'>
      <div class='callout'>
        <h2>Notes</h2>
        <p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
      </div>
      <div class='callout'>
        <h2>Notes</h2>
        <p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
      </div>
      <div class='callout'>
        <h2>Notes</h2>
        <p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>
      </div>
    </div>
  </div>
</div>
<div id='bottom_cta'>
  <div class='wrapper'>
    <h2>Enserio!</h2>
    <p>Crea una Cuenta.. es Gratis!</p>
    <button type="button" name="button"><%=link_to "dame cliiick!!!", new_user_registration_path%></button>
  </div>
</div>
<footer>
  <p>&copy; Mario Vizcaino</p>
</footer>
